@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu&display=swap');


body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 3em;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.media-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}